<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculate Airport Distance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">

    <!-- Custom styles for this web app -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

<header>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Xiaoli Jiang Project</h3>
        </div>


        {% block content %}{% endblock %}


    </div><!--/container-->

    {% block header %}{% endblock %}

</header>

<footer>
<p>&copy; Xiaoli Jiang 2014</p>
</footer>

</body>
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script src={{ url_for('static', filename='js/requestAPI.js') }}></script>

    {% block foot_script %}{% endblock %}
</html>