{% extends "base.html" %}
{% block content %}

    <div class="well">

        <!-- airport request form  -->
        <form id="requestFrom" class="form-horizontal" role="form">

            <div class="form-group">
                <h3 class="center">Calculate Airport Distance</h3>
            </div>


            <div class="form-group">
                <label for="departure" class="col-sm-4 control-label">Departure Airport</label>
                <div class="col-sm-5">
                    <input type="text" name="departure" class="form-control airport" id="departure" placeholder="Departure Airport" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="destination" class="col-sm-4 control-label">Destination Airport</label>
                <div class="col-sm-5">
                    <input type="text" name="destination" class="form-control airport" id="destination" placeholder="Destination Airport" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Distance Unit</label>
                <div class="col-sm-8">
                    <div class="radio">
                        <label class="radio col-sm-2">
                            <input type="radio" name="units"  value="mile" checked="">
                            Miles
                        </label>

                        <label class="radio col-sm-2">
                            <input type="radio" name="units"  value="km" >
                            Km
                        </label>
                    </div>
                </div>
            </div>

            <br/>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-lg btn-warning">Calculate</button>

                    <button type="reset" id="clearResult" class="btn btn-lg btn-primary">Clear Result</button>
                </div>
            </div>

        </form>

    </div>

    <div id="result" class="well center">
        <h2 id="distance"></h2>
    </div>

    <div id="map">

    </div>


</div>

{% endblock %}

